numpy==2.2.6
pandas==3.0.0
scipy==1.18.1
scikit-learn==1.9.1
lightgbm==4.7.0
torch==2.10.0
matplotlib==3.11.2
seaborn==0.13.2
jupyter==1.1.1
nbformat==5.11.1
nbconvert==7.17.1
ipykernel==7.4.0
python-docx==1.2.0
kaggle==2.2.4
